html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: "Arial";
  color: #999;
  padding-top: 72px;
}
body a {
  color: #999;
  text-decoration: none;
}
/*===============
  navigation
 ================*/
.main_fixed_nav{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #fff;
  border-bottom: 2px solid #ddd;
  padding: 20px 50px;
  justify-content: space-around;
}
.main_fixed_nav > *{
  line-height: 30px;
  letter-spacing: 5px;
  padding: 0 20px;
  border-right: 1px solid #ddd;
  
}
.main_fixed_nav > *:last-child, .site_name{
  border-right: none;
}

.site_name{
  color: rgb(150,220,150);
  margin-right: auto;
}
.current{
  font-weight: bold;
  color: #333;
}
/*===============
  main splash page
 ================*/
.splash_page{
  height: calc(100vh - 72px);
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: 1fr 100px;
}
.splash_text_wrapper{
  margin: auto;
  padding: 40px 50px 40px 100px;
}
.splash_text_wrapper h1{
  text-align: right;
  letter-spacing: 5px;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 20px;
}
.splash_text_wrapper h2{
  text-align: right;
  font-size: 17px;
  line-height: 25px;
}


.grid_example{
  height: 300px;
  width: 300px;  
  margin:  auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-template-areas: 
    ". . . . a a f . ."
    ". b b b b x f d ."
    "g g c c c c c d ."
    "g g c c c c c d ."
    "g g c c c c c e e"
    "g g h h h i . e e"
    "g g h h h i . . ."
    "j j j j j i . . ."
    ". . . . . i . . ." ;
    animation-name: example;
    animation-duration: 400s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes example{
  100%{transform: rotate(360deg);}
}

.grid_example > *{
  border: solid #ddd;
  border-width: 1px 1px 1px 5px;
  border-radius: 5px;
}

.grid_example div:nth-child(1){grid-area: a;}
.grid_example div:nth-child(2){grid-area: b;}
.grid_example div:nth-child(3){grid-area: c;}
.grid_example div:nth-child(4){grid-area: d;}
.grid_example div:nth-child(5){grid-area: e;}
.grid_example div:nth-child(6){grid-area: f;}
.grid_example div:nth-child(7){grid-area: g;}
.grid_example div:nth-child(8){grid-area: h;}
.grid_example div:nth-child(9){grid-area: i;}
.grid_example div:nth-child(10){grid-area: j;}

.grid_example div:nth-child(11){
  grid-area: x;
  border: none;
  background-color: rgb(150,220,150);
  animation-name: example2;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  }
@keyframes example2{
  100%{transform: rotate(-360deg);}
}

.splash_page footer{
  grid-column: 1/3;
  background-color: rgb(150,220,150);
}

.circle{
  width: 100px;
  height: 100px;
  background-color: #eee;
  border: 6px solid #fff;
  border-radius: 50%;
  position: relative;
  top: -50px;
  margin: 0 auto;
}













